html {
	background-image: url("../images/bats.gif");
}
head {
	font-family: sans-serif;
}
main {
	font-family: sans-serif;
}
footer {
	font-family: sans-serif;
	font-size: 80%;
	text-align: center;
	border-top: solid black;
	background: linear-gradient(-45deg, white, orange, black);
}
#pumpkin {
	float: left;
}
#main::first-letter {
	 font-size: 200%;
}
#title {
	background: linear-gradient(45deg, white, orange, black);
}
a {
	color: orange;
}
li {
	padding: 10px;
}
body {
	width: 800px;
	background-color: white;
	text-align:center;
	margin: auto;
    width: 50%;
    border: 3px solid black;
}
#header {
	border-bottom: solid black;
}
.sidenav {
    height: 30%;
    width: 160px;
    z-index: 1;
	float: left;
	background-color: white;
    padding-top: 80px;
}
.main {
	margin-left: 160px;
    padding: 0px 10px;
}